name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # os: [macos-latest, ubuntu-latest, windows-latest]
        os: [ubuntu-latest]

    steps:

          
          
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: install electron-builder
        run: |
        #  npm i -g electron-builder
         npm install electron -g
         electron -v #查看electron版本，查看是否安装
         npm update electron -g #更新electron版本
        

      - name: Electron Builder Action
        uses: samuelmeuli/action-electron-builder@v1.6.0
        with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.github_token }}

     
      # - name: Build
      #   run: |
      #    npm install
      #    npm install electron
      #    node main
      #    # npm run build-publish
      # - name: Compress Bundle
      #   run: |
      #     npm install -g bestzip
      #     bestzip Neeto-Vue-win32-x64.zip  dist/electron/Neeto-Vue-win32-x64/*
      # - name: Upload Win Package
      #   uses: actions/upload-artifact@v1
      #   with:
      #     name: Windows_Dist
      #     path: Neeto-Vue-win32-x64.zip
